.message {
    color: rgb(9, 81, 9);
    font-style: normal;
    padding: 10px ;
    margin-bottom:10px;
    background-color:rgb(125, 139, 104);
    border-style:solid;
    border-width: 5px;
    border-color: green;
    border-spacing: 5px;
}

.error{
    color: rgb(87, 3, 3);
    font-style: normal;
    padding: 10px ;
    margin-bottom:10px;
    background-color:rgba(207, 82, 82, 0.805);
    border-style:solid;
    border-width: 5px;
    border-color: rgb(114, 10, 18);
    border-spacing: 5px;
}